<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "br.com.teste.sc"
        version   = "1.0.0">

    <name>APP TESTE</name>

    <description>
        APP TESTE
    </description>

    <author href="http://www.sigmacivil.com.br" email="ajuda@personalway.com.br">
        PhoneGap Team
    </author>

	<gap:config-file platform="ios" parent="CFBundleVersion">
		<string>3</string>
	</gap:config-file>

	<config-file platform="android" parent="/manifest" mode="merge">
		<application android:debuggable="false"/>
	</config-file>
    <!--
        Enable individual API permissions by defining each here.
        The 'device' permission is required for the 'deviceready' event.
    -->

    <!--
        Enable individual API permissions by defining each here.
        The 'device' permission is required for the 'deviceready' event.
    -->
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/network"/>

	<feature name="NetworkStatus">
			 <param name="android-package" value="CDVConnection" />
	 </feature>

	<!-- para o audio -->
	<feature name="File">
		<param name="android-package" value="org.apache.cordova.file.FileUtils" />
	</feature>	 
	<feature name="Capture">
		<param name="android-package" value="org.apache.cordova.mediacapture.Capture" />
	</feature>
	<feature name="Capture">
		<param name="ios-package" value="CDVCapture" />
	</feature>	
	<!-- fim para o audio -->

    <preference name="permissions" value="none"/>
	
	<access origin="*" />


</widget>
